$secondary-color: #345379
$dashboard-default-padding: 1rem
$hot-pink-color: #ff4081
$panel-box-paddding: 1.25rem
$panel-box-font-size: 12px
$panel-box-border-color: #343e4b
  
body, html
  background-color: #161d27
  margin: 0
  padding: 0
  color: #ffffff
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif
  font-size: 14px


// Sign In/Up
.v-spacer
  margin-bottom: 1.25rem
  margin-top: 1.25rem


.login-body
  background-color: #2e4363
  padding: 2.5rem
  margin-top: 45%

.test
  color: #ff6600

.dashboard
  &-menu
    &-bar
      border-bottom: 1px solid $secondary-color
      padding: $dashboard-default-padding
      .menu-icon
        fill: $secondary-color
        cursor: pointer
  &-sidebar
    background-color: $secondary-color !important
    padding: $dashboard-default-padding
    color: #ffffff !important
    font-weight: 300
    &-user
      &-image
        width: 90px
        height: 90px
        background-color: #5f7da5
        border-radius: 50%
        margin: 3rem auto 1rem auto
        border: 2px solid $hot-pink-color
    &-section
      &--header
        padding: 2rem 0 1rem 0
        text-transform: uppercase
        font-size: 12px
        color: #68a9ff
        font-weight: 600
        .mdi-icon
          display: inline-block
          float: left
          margin-right: 1rem
          margin-top: -3px
          fill: #68a9ff
    ul
      li
        list-style: none
  &-content
    padding: $dashboard-default-padding

.logout-text-link
  display: inline-block
  margin-left: 2rem
  color: $hot-pink-color
  cursor: pointer

.floating
  &-bottom
    &--right
      right: 5%
      bottom: 3%
      position: absolute !important
  &-icon
    .menu
      background-color: red

.dialog
  &-btn
    font-size: 14px !important
    margin-right: 1rem
    &--secondary
      color: #ffffff !important
  &-footer
    margin-top: 5rem

.list
  &-link
    color: #afd2ff
    cursor: pointer
    padding: 0.25rem 0
    &:hover
      color: #ffffff
    &-cta
      font-size: 12px
      font-weight: bold
      text-transform: uppercase
      cursor: pointer
      &:hover
        color: #ffffff
      .mdi-icon
        display: inline-block
        margin-right: 1rem
        margin-top: -4px
        fill: #ffffff
        float: left

.font
  &-300
    font-weight: 300

.panel
  &-container
    display: flex
    display: -webkit-flex
    flex-wrap: wrap
  &-box
    width: 400px
    flex: 1
    min-height: 350px
    background-color: #262d37
    margin: 1rem
    color: #dddddd
    font-size: $panel-box-font-size
    border-bottom: 2px solid $hot-pink-color
    &--header
      border-bottom: 1px solid $panel-box-border-color
      padding: $panel-box-paddding
      h2, h3
        padding: 0
        margin: 0
        text-transform: uppercase
        font-weight: 300
        letter-spacing: 1px
        margin: 0.5rem 0
        font-size: $panel-box-font-size
      h3
        color: #5b646d
        text-transform: none
      .mdi-icon
        width: 16px
        height: 16px
        fill: #5a6779
    &--label
      background-color: #008CBA
      text-transform: uppercase
      color: #ffffff
      display: inline-block
      padding: 0.5rem
      margin-top: 1.25rem
    &--content
      padding: 2rem $panel-box-paddding
      .target
        color: #0090ff
        font-size: 3rem
        font-weight: 600
        &-reach
          font-size: 22px
          font-weight: 600
        &-value
          &--label
            color: #737373
        &-potential
          &-value
            text-transform: uppercase
            font-weight: 300
            letter-spacing: 1px
            font-size: $panel-box-font-size
            padding-left: 1.75rem
    &--separator
      border-top: 1px solid $panel-box-border-color
      width: 100px
      margin: 2rem auto

.up
  &-trend
    fill: #a0ea0d
    margin-top: 14px
    float: left