body, html {
  background-color: #161d27;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 14px; }

.v-spacer {
  margin-bottom: 1.25rem;
  margin-top: 1.25rem; }

.login-body {
  background-color: #2e4363;
  padding: 2.5rem;
  margin-top: 45%; }

.test {
  color: #ff6600; }

.dashboard-menu-bar {
  border-bottom: 1px solid #345379;
  padding: 1rem; }
  .dashboard-menu-bar .menu-icon {
    fill: #345379;
    cursor: pointer; }

.dashboard-sidebar {
  background-color: #345379 !important;
  padding: 1rem;
  color: #ffffff !important;
  font-weight: 300; }
  .dashboard-sidebar-user-image {
    width: 90px;
    height: 90px;
    background-color: #5f7da5;
    border-radius: 50%;
    margin: 3rem auto 1rem auto;
    border: 2px solid #ff4081; }
  .dashboard-sidebar-section--header {
    padding: 2rem 0 1rem 0;
    text-transform: uppercase;
    font-size: 12px;
    color: #68a9ff;
    font-weight: 600; }
    .dashboard-sidebar-section--header .mdi-icon {
      display: inline-block;
      float: left;
      margin-right: 1rem;
      margin-top: -3px;
      fill: #68a9ff; }
  .dashboard-sidebar ul li {
    list-style: none; }

.dashboard-content {
  padding: 1rem; }

.logout-text-link {
  display: inline-block;
  margin-left: 2rem;
  color: #ff4081;
  cursor: pointer; }

.floating-bottom--right {
  right: 5%;
  bottom: 3%;
  position: absolute !important; }

.floating-icon .menu {
  background-color: red; }

.dialog-btn {
  font-size: 14px !important;
  margin-right: 1rem; }
  .dialog-btn--secondary {
    color: #ffffff !important; }

.dialog-footer {
  margin-top: 5rem; }

.list-link {
  color: #afd2ff;
  cursor: pointer;
  padding: 0.25rem 0; }
  .list-link:hover {
    color: #ffffff; }
  .list-link-cta {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer; }
    .list-link-cta:hover {
      color: #ffffff; }
    .list-link-cta .mdi-icon {
      display: inline-block;
      margin-right: 1rem;
      margin-top: -4px;
      fill: #ffffff;
      float: left; }

.font-300 {
  font-weight: 300; }

.panel-container {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap; }

.panel-box {
  width: 400px;
  flex: 1;
  min-height: 350px;
  background-color: #262d37;
  margin: 1rem;
  color: #dddddd;
  font-size: 12px;
  border-bottom: 2px solid #ff4081; }
  .panel-box--header {
    border-bottom: 1px solid #343e4b;
    padding: 1.25rem; }
    .panel-box--header h2, .panel-box--header h3 {
      padding: 0;
      margin: 0;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 1px;
      margin: 0.5rem 0;
      font-size: 12px; }
    .panel-box--header h3 {
      color: #5b646d;
      text-transform: none; }
    .panel-box--header .mdi-icon {
      width: 16px;
      height: 16px;
      fill: #5a6779; }
  .panel-box--label {
    background-color: #008CBA;
    text-transform: uppercase;
    color: #ffffff;
    display: inline-block;
    padding: 0.5rem;
    margin-top: 1.25rem; }
  .panel-box--content {
    padding: 2rem 1.25rem; }
    .panel-box--content .target {
      color: #0090ff;
      font-size: 3rem;
      font-weight: 600; }
      .panel-box--content .target-reach {
        font-size: 22px;
        font-weight: 600; }
      .panel-box--content .target-value--label {
        color: #737373; }
      .panel-box--content .target-potential-value {
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 12px;
        padding-left: 1.75rem; }
  .panel-box--separator {
    border-top: 1px solid #343e4b;
    width: 100px;
    margin: 2rem auto; }

.up-trend {
  fill: #a0ea0d;
  margin-top: 14px;
  float: left; }
