body, html {
  background-color: #161d27;
  margin: 0;
  padding: 0;
  color: #ffffff; }

.v-spacer {
  margin-bottom: 1.25rem;
  margin-top: 1.25rem; }

.login-body {
  background-color: #2e4363;
  padding: 2.5rem;
  margin-top: 45%; }

.test {
  color: #ff6600; }

.dashboard-menu-bar {
  border-bottom: 1px solid #345379;
  padding: 1rem; }
  .dashboard-menu-bar .menu-icon {
    fill: #345379;
    cursor: pointer; }

.dashboard-sidebar {
  background-color: #345379 !important;
  padding: 1rem;
  color: #ffffff !important;
  font-weight: 300; }
  .dashboard-sidebar-user-image {
    width: 90px;
    height: 90px;
    background-color: #5f7da5;
    border-radius: 50%;
    margin: 3rem auto 1rem auto;
    border: 2px solid #ff4081; }
  .dashboard-sidebar-section--header {
    padding: 2rem 0 1rem 0;
    text-transform: uppercase;
    font-size: 12px;
    color: #183254;
    font-weight: 600; }
    .dashboard-sidebar-section--header .mdi-icon {
      display: inline-block;
      float: left;
      margin-right: 1rem;
      margin-top: -3px;
      fill: #183254; }
  .dashboard-sidebar ul li {
    list-style: none; }

.dashboard-content {
  padding: 1rem; }

.logout-text-link {
  display: inline-block;
  margin-left: 2rem;
  color: #ff4081;
  cursor: pointer; }

.floating-bottom--right {
  right: 5%;
  bottom: 3%;
  position: absolute !important; }

.floating-icon .menu {
  background-color: red; }

.dialog-btn {
  font-size: 14px !important;
  margin-right: 1rem; }
  .dialog-btn--secondary {
    color: #ffffff !important; }

.dialog-footer {
  margin-top: 5rem; }

.list-link {
  color: #afd2ff;
  cursor: pointer;
  padding: 0.25rem 0; }
  .list-link:hover {
    color: #ffffff; }
